@using ClaimReport.Models
@{var user = (User)Session["user"];}
@if (user != null)
{
    if (user.UserType.name == "Administrator")
    {
        <li class="users">
            <a href="@Url.Action("Users", "Administrator")">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> Users </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="academyyear">
            <a href="@Url.Action("Academyyear", "Administrator")">
                <i class="menu-icon fa fa-calendar"></i>
                <span class="menu-text"> Academy Year </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="assessment">
            <a href="@Url.Action("Assessment", "Administrator")">
                <i class="menu-icon fa fa-folder"></i>
                <span class="menu-text"> Assessment </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="item">
            <a href="@Url.Action("Item", "Administrator")">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text"> Item </span>
            </a>

            <b class="arrow"></b>
        </li>
    }

    if (user.UserType.name == "Coordinator")
    {
        <li class="claim">
            <a href="@Url.Action("Index", "Coordinator")">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Claim </span>
            </a>
        </li>
    }

    if (user.UserType.name == "Manager")
    {
        <li class="claim">
            <a href="@Url.Action("Index", "Manager")">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Claims </span>
            </a>
        </li>

        <li class="report open">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-area-chart"></i>
                <span class="menu-text"> Reports </span>
                <b class="arrow fa fa-angle-down"></b>  
            </a>
            <ul class="submenu">
                <li class="Report">
                    <a href="@Url.Action("Report", "Manager")">Summary report</a>
                </li>
                <li class="AcademyYearReport">
                    <a href="@Url.Action("AcademyYearReport", "Manager")">Academy Year Report</a>
                </li>
                <li class="WeekReport">
                    <a href="@Url.Action("WeekReport", "Manager")">Week Report</a>
                </li>
            </ul>
        </li>
    }

    if (user.UserType.name == "Student")
    {
        <li class="claim">
            <a href="@Url.Action("Index", "Claims")">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Claim </span>
            </a>
        </li>
    }
}


