@using ClaimReport.Models;
@model ClaimReport.Models.Claim
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Evidence> lstEvidence = ViewBag.lstEvidence;
    string result = ViewBag.result;
    bool bReject = false;
    bool bAccept = false;
}

<h2>Edit claim</h2>

<div>
    <h4>Claim Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.result)
        </dt>

        <dd>
            @{
                if (Model.result == 2)
                {
                    <b>Rejected</b>
                    bReject = true;
                    bAccept = false;
                }
                else if (Model.result == 1)
                {
                    <b>Accepted</b>
                    bReject = false;
                    bAccept = true;
                }
                else
                {
                    <b>Not process yet</b>
                }
            }
        </dd>

        <dt>
            @Html.DisplayName("Academy name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Academyyear.name)
        </dd>

        <dt>
            @Html.DisplayName("Coordinator name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinator.User.name)
        </dd>
        @if (lstEvidence != null && lstEvidence.Count > 0)
        {
            <dt>
                <span>Upload Evidence</span>
            </dt>
            <dd>
                <table style="border-spacing: 10px;border-collapse: separate">
                    @foreach (var item in lstEvidence)
                    {
                        <tr>
                            <th>
                                @item.filename
                            </th>
                            <td>
                                @Html.ActionLink("Download", "Download", new { ImageName = item.filename })
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
    @{
        if (result == null || result.IsEmpty() == true)
        {
            using (Html.BeginForm("Edit", "Coordinator", FormMethod.Post))
            {
                <input type="hidden" name="id" value="@Model.id" />
                <div class="form-group">
                    @Html.Label("Result", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButton("result", true, bAccept) Accept
                        @Html.RadioButton("result", false, bReject) Reject
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="btnSubmit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            }
        }
        else
        {
            <b>@result</b>
        }
    }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
