@using PagedList.Mvc;
@model PagedList.PagedList<ClaimReport.Models.Claim>

@{
    ViewBag.Title = "Claim";
    ViewBag.selectedMenu = ".sidebar .claim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12 m-top">
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("txtSearch", "", new { @class = "form-control", @placeholder = "Name" })
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-default" />
                </span>
            </div><!-- /input-group -->
        }
    </div>
</div>

<div class="table-responsive m-top">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Student Name")
            </th>
            <th>
                @Html.DisplayName("Academy Year")
            </th>
            <th>
                @Html.DisplayName("Result")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.User.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.name)
                </td>
                <td>
                    @{
                        if (item.result == 2)
                        {
                            @Html.DisplayName("Rejected") 
                        }
                        else if (item.result == 1)
                        {
                            @Html.DisplayName("Accepted")
                        }
                        else
                        {
                            @Html.DisplayName("Not process yet")
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>

<div id='paging'>
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page, txtSearch = ViewBag.txtSearch }))
</div>

@if (ViewBag.ViewAll != null)
{
    @Html.ActionLink("Back to List", "Index")
}