@using ClaimReport.Models;
@model ClaimReport.Models.Claim
@{
    ViewBag.Title = "Details";
    ViewBag.selectedMenu = ".sidebar .claim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Evidence> lstEvidence = ViewBag.lstEvidence;
    string result = ViewBag.result;
}

<h1 class="text-capitalize">@Html.DisplayFor(model => model.name)</h1>

<div class="row">
    <div class="col-md-6 col-md-push-6">
        <b class="lead">
            @if (result == null || result.IsEmpty() == true)
            {
                if (Model.result == 2)
                {
                    @Html.DisplayName("Rejected")
                }
                else if (Model.result == 1)
                {
                    @Html.DisplayName("Accepted")
                }
                else
                {
                    if (DateTime.Compare(DateTime.Now, Model.datesubmited.AddDays(15)) > 0)
                    {
                        @Html.DisplayName("The claim is out of 14 days since claim upload date.")
                    }
                    else
                    {
                        @Html.DisplayName("Not process yet")
                    }
                }
            }
            else
            {
                @Html.DisplayName(result)
            }
        </b>
        
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <span>Student Name:</span>
                @Html.DisplayFor(model => model.Student.User.name)
                <br>
                <span>Student ID:</span>
                @Html.DisplayFor(model => model.studentid)

                <br>

                <span>Coordinator:</span>
                @Html.DisplayFor(model => model.Coordinator.User.name)

                <br>

                <span>Faculty:</span>
                @Html.DisplayFor(model => model.Student.Faculty.name)

                <br><br>
            </div>

            <div class="col-md-6">
                <div>
                    <span>Date submit: </span>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.datesubmited))
                </div>

                <div>
                    <span>Assessment: </span>
                    @Html.DisplayFor(model => model.Item.Assessment.name)
                </div>

                <div>
                    <span>Item: </span>
                    @Html.DisplayFor(model => model.Item.name)
                </div>

                <div>
                    <span>Academy Year: </span>
                    @Html.DisplayFor(model => model.Item.Assessment.Academyyear.name)
                </div>
                
                @*<div>
                    <span>Start Report Date:</span>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Item.Assessment.Academyyear.startReportDate))
                </div>

                <div>
                    <span>Closure Report Date:</span>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Item.Assessment.Academyyear.closureEvidenceDate))
                </div>

                <div>
                    <span>Closure Evedence Date:</span>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Item.Assessment.Academyyear.closureEvidenceDate))
                </div>*@

                <br><br>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
        @Html.DisplayFor(model => model.description)
        <hr>
        @if (lstEvidence != null && lstEvidence.Count > 0)
        {
            <p><strong>Evidences:</strong></p>
            <table class="table">
                @foreach (var item in lstEvidence)
                {
                    <tr>
                        <th>
                            @item.filename
                        </th>
                        <td>
                            @Html.ActionLink("Download", "Download", new { ImageName = item.filename })
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
