@model IEnumerable<ClaimReport.Models.Academyyear>

@{
    ViewBag.Title = "Academyyear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Academy Year</h2>

<p>
    @Html.ActionLink("Create New", "CreateAcademyYear")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Start Report Date
            </th>
            <th>
                Closure Report Date
            </th>
            <th>
                Closure Evidence Date
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Convert.ToDateTime(item.startReportDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.closureReportDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.closureEvidenceDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditAcademyYear", new { id = item.id }) |
                    @Html.ActionLink("Delete", "DeleteAcademyYear", new { id = item.id }, new
               {
                   @class = "confirm-delete",
                   @confirm = "Please Verify Your Informations: "
                   + "\n" + "Start Report Date: " + @Convert.ToDateTime(item.startReportDate).ToString("dd/MM/yyyy")
                   + "\n" + "Closure Report Date: " + @Convert.ToDateTime(item.closureReportDate).ToString("dd/MM/yyyy")
                   + "\n" + "Closure Evidence Date: " + @Convert.ToDateTime(item.closureEvidenceDate).ToString("dd/MM/yyyy")
               })
                </td>
            </tr>
        }

    </table>
</div>