@using PagedList.Mvc;
@model PagedList.PagedList<ClaimReport.Models.Item>

@{
    ViewBag.Title = "Item";
    ViewBag.selectedMenu = ".sidebar .item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        @ViewBag.Error
    </div>
}

@if (@ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        @ViewBag.Success
    </div>
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-2 m-top">
        @Html.ActionLink("Create New", "ItemCreate", "", new { @class = "btn btn-block btn-sm btn-primary" })
    </div>
    <div class="col-md-6 col-md-offset-4 m-top">
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("txtSearch", "", new { @class = "form-control", @placeholder = "Name" })
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-default" />
                </span>
            </div><!-- /input-group -->
        }
    </div>
</div>

<div class="table-responsive m-top">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Start Report Date")
            </th>
            <th>
                @Html.DisplayName("Closure Report Date")
            </th>
            <th>
                @Html.DisplayName("Closure Evidence Date")
            </th>
            <th>
                @Html.DisplayName("Assessment")
            </th>
            <th>
                @Html.DisplayName("Academy Year")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Convert.ToDateTime(item.startReportDate).ToString("MM/dd//yyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.closureReportDate).ToString("MM/dd//yyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.closureEvidenceDate).ToString("MM/dd//yyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assessment.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assessment.Academyyear.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ItemEdit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "ItemDelete", new { id = item.id }, new
               {
                   @class = "confirm-delete",
                   @confirm = "Are you sure want delete this item ? "
                   + "\n" + "Name: " + item.name
                   + "\n" + "Start Report Date: " + @Convert.ToDateTime(item.startReportDate).ToString("MM/dd//yyy")
                   + "\n" + "Closure Report Date: " + @Convert.ToDateTime(item.closureReportDate).ToString("MM/dd//yyy")
                   + "\n" + "Closure Evidence Date: " + @Convert.ToDateTime(item.closureEvidenceDate).ToString("MM/dd//yyy")
                   + "\n" + "Assessment: " + item.Assessment.name
               })
                </td>
            </tr>
        }

    </table>
</div>

<div id='paging'>
    @Html.PagedListPager(Model, page => Url.Action("Item", new { page }))
</div>

@if (ViewBag.ViewAll != null)
{
    @Html.ActionLink("Back to List", "Item")
}