@using PagedList.Mvc;

@model PagedList.PagedList<ClaimReport.Models.Claim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

    <div class="row">
    <div class="col-md-2 m-top">
        @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-block btn-sm btn-primary" })
    </div>
    <div class="col-md-10 m-top">
        @using (Html.BeginForm("Index", "Claims", FormMethod.Get))
        {
            <div class="form-group col-md-4">
                <label class="radio-inline">
                    <input id="idnotprocess" type="radio" name="result" value="0" />        <label for="idnotprocess">Not process</label>
                </label>
                <label class="radio-inline">
                    <input id="idaccept" type="radio" name="result" value="1" />        <label for="idaccept">Accepted</label>
                </label>
                <label class="radio-inline">
                    <input id="idject" type="radio" name="result" value="2" />       <label for="idject">Rejected</label>
                </label>
            </div>
            <div class="form-group col-md-8">
                <input type="text" class="form-control" placeholder="search" name="txtSearch">
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-default" />
                </span>
            </div>
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("student name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().result)
            </th>
            <th>
                @Html.DisplayName("coordinator name")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @{
                        if (item.result == 2)
                        {
                            <p>Rejected</p>
                        }
                        else if (item.result == 1)
                        {
                            <p>Accepted</p>
                        }
                        else
                        {
                            <p>Not process yet</p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coordinator.User.name)
                </td>
                <td>
                    @Html.ActionLink("Add evidence", "AddEvidence", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    <a href="#" onClick="deleteEvent(@item.id, '@item.name')">Delete</a>
                </td>
            </tr>
                        }
        <script>
            function deleteEvent(id, name)
            {
                if (confirm("Do you really want to delete the claim "+name))
                    window.location.href = "/claims/delete/"+id;
                else
                    return false;
            }
        </script>
    </table>
</div>
<div id='Paging' style="text-align: center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, txtSearch = ViewBag.txtSearch }))
</div>